body,
html {
    font-family: 'Sriracha', cursive;
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
  
}

body h2{
    color: red;
}


/*  */

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: red;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }




/* / */
.clear {
    clear: both;
}

.active1{
    background-color: rgba(255, 255, 0, 0.589);
    padding:2px;
}

/* total */
.total{

    margin-bottom:50px;
    padding:0 50px;
}
.total a{
    text-decoration: none;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.808);
}

.total_text p {
   
    font-size: 20px;
}

    .total a h4 {
        margin-top: 10px;
        font-weight: 700;
        
    }

.total a:hover{
    color: rgb(185, 15, 15);
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }





/* carousel */
.Carousel img{
    width: 100%;
}

.Carousel{
    padding: 0;
    margin: 0;
}

.Carousel .Carousel_text{
    position: absolute;
    bottom: -15%;
    left: 25%;
    
}

.Carousel_text{
    text-align: center;
    color: red;

}
.Carousel_text h2{
   
    font-size:30px;
}

.Carousel_text p{
    color: red;
    font-size:25px;
}
/* intro_action */
.intro_action{
    background: #ffebed;
    height: 100%;
    /* margin-top: 100px; */
    color: red;

}

.intro_action .intro_actionContent .intro_item .intro_icon i{
    font-size: 45px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 10%;
    border: 3px solid red;
    text-align: center;
    transition: all linear 0.5s;
    
}

.intro_action .intro_actionContent .intro_item:hover .intro_icon i{
    
   
    line-height: 100px;
    box-shadow: 0 0 15px 15px white;
   
}

.intro_action h2{
    padding: 50px 0;
}

/* action */
.action h2{
    padding: 50px 0;
}
.action{
    background-image: radial-gradient(circle, white 0%, #ffebed 100%);
}
.action .action_content{
    opacity: 1;
}

/* .action .action_content .action_item{
    margin-top: 20px;
    
} */

.action .action_content .action_item .card video{
    border-radius: 10px;
}

.action .action_content .action_item .card img{
    border-radius: 10px;
    
    
}

.action .action_content .action_item .card{
    border-radius: 10px;
    transform: scale(0.8);
    opacity: 0.8;
    transition: all linear 0.7s;
    
    
}
.action  a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.753);
}

.action .action_content p{
    color: rgba(255, 0, 0, 0.753);
    
}


.story h2, .news h2{
    padding: 50px 0;
}
/* partner */

.IBS_partner h2{
    padding: 50px 0;
}

.IBS_partner .IBS_partnerImg img{
    width: 50%;
}
/* News */

.news h2{
    padding: 50px 0;
}

.news a{
    text-decoration: none;
    color:black;
    transition: all linear 0.5s;
}

.news a:hover{
    color: red;
}


.IBS_Contanct h2{
    padding: 50px 0;
}

/* form text*/

footer{
    margin-top: 100px;
    background-color: rgb(121, 55, 55);
    padding: 100px 0;
    color: white;
}





footer .footer_intro ul li{
    display: inline;
}


footer .footer_connect p i{
    font-size: 30px;
    letter-spacing: 20px;
}
.toTop
{
    position: fixed;
    right:30px ;
    bottom: 50px;
    font-size: 3rem;

    color: red;
    border: 1px solid red;
    
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;

    opacity: 0; 
    visibility: hidden;

}


footer .footer_left img{
    width: 100% !important;
   
}

/* footer .footer_right{
    border-bottom: 2px solid white;
} */




footer   .footer_item1 img{
    width: 100px;
    height: 100px;

}

footer ul li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

    footer a:hover {
        color: #fff200;
        text-decoration: none;
    }


footer h3 {
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-size: 30px;
}
footer ul li a {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

footer h3:hover {
    color: #fff200;
    cursor: pointer;
}


.cd-top--is-visible 
{
    visibility: visible;
    opacity: 1;
}
img{
    cursor: pointer;
}




/* @media screen and (min-width:800px) and (max-width:1280px){


    .Carousel .Carousel_text{
        position: absolute;
        top:48%;
        left: 20%;
    }

    .Carousel_text h2{
   
        font-size:30px;
    }
    
    .Carousel_text p{
        color: red;
        font-size:20px;
    }

} */

@media screen and (max-width:768px){




    .Carousel .Carousel_text{
        position: absolute;
        top:47%;
        left: 20%;
        
    }
    
    .Carousel_text h2{
   
        font-size:30px;
    }
    
    .Carousel_text p{
        color: red;
        font-size:20px;
    }

    .intro_action{
        background: #ffebed;
        height: 100%;
        color: red;
    }

    .IBS_Contanct  form .form-group textarea{
        margin-left: 8px !important;
        width: 97% !important;
    }





}

@media screen and (max-width:576px){
    /* header */

    header .h3, header p{
        font-size:15px;
    }

    header .topNav-container .side-bar h3{
        font-size: 17px;
    }


    header .IBSENNavbar img{
        width:10%;
    }

    /* carousel */
    .Carousel .Carousel_text{
        position: absolute;
        top:26%;
        left: 10%;
    }

    .Carousel_text h2{
   
        font-size:20px;
    }
    
    .Carousel_text p{
        color: red;
        font-size:12px;
    }

    /* intro */

    /* contanct */
    .IBS_Contanct  form .form-group textarea{
        margin-left: 9px !important;
        width: 95% !important;
    }

    .IBS_partner {
        width: 90%;
    }

    .IBS_partner .IBS_partnerImg img{
        width: 50%;
    }

    footer .footer_connect  img{
        width: 50px;
        height: 50px;

    }

    .ml1 span{
        font-size: 15px;
    }
/* 
    footer .footer_intro .ml3{
        font-size:10px;
    } */

}


